<div class="row">
	<div class="col-md-8 leftpanel">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="form-control">
					<label class="raido inline">
						<input type="radio" value="1" class="insuranceButton"> Select Insurance
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<form id="insurance">

				<div class="insuranceDetails">
					<div class="col-md-4">
						<div class="form-group">
							<select id="carType" class="form-control">
								<option value="">Select car type</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select id="fuelType" class="form-control">
								<option value="">Select fuel type</option>

							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<select id="regType" class="form-control">
								<option value="">Select reg</option>

							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" id="name" name="name" class="form-control" placeholder="Enter your name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" id="phone" name="phone" class="form-control" placeholder="Enter your phone no">

						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<button type="submit" class="btn btn-primary" value="Submit"> Submit</button>

						</div>
					</div>
				</div>
				<div class="bankDetails">
					<div class="col-md-4">
						<div>
							<ul class="list-group bank-content" ondrop="drop(event, this);" ondragover="event.preventDefault();"></ul>

						</div>
					</div>
					<div class="col-md-4">
						<div>
								<ul class="list-group my-bank-content" ondrop="drop(event, this);" ondragover="event.preventDefault();"></ul>

						</div>
					</div>
					<div class="col-md-4"> H</div>
				</div>
			</form>

		</div>



	</div>
	<div class="col-md-3 col-md-offset-1 rightpanel">
		<ul class="list-grup">
			<li class="list-group-item">
				<a href="#" class="href">Home</a>
			</li>
			<li class="list-group-item">
				<a href="#" class="href">Home</a>
			</li>
			<li class="list-group-item">
				<a href="#" class="href">Home</a>
			</li>
		</ul>
	</div>
</div>

<style>
	.rightpanel,
	.leftpanel {
		padding: 10px;
		background: #F8F8F8;
		min-height: 500px;
	}

	.bank-content,
	.my-bank-content {
		padding: 20px;
		border: 1px solid #ddd;
		min-height: 250px;
	}
</style>